@model Myte.Models.Funcionario

@{
    ViewData["Title"] = "";
}

<style>
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    .text-center-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .title-style {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    }

    .col-form-label {
        font-weight: bold;
    }

    .white-background {
        background-color: white;
    }
</style>

<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">
<div style="text-align: center;">
    <h1 class="title-style">Detalhes Funcionário</h1>
    <div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title mb-4">@ViewData["Title"]</h2>
                            <dl class="row">
                                <dt class="col-sm-4">Nome:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.FuncionarioNome)</dd>

                                <dt class="col-sm-4">Email:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                                <dt class="col-sm-4">Data de Contratação:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.DataContratacao)</dd>

                                <dt class="col-sm-4">Departamento:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Departamento.DepartamentoNome)</dd>

                                <dt class="col-sm-4">Nível de Acesso:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.NivelAcesso)</dd>

                                <dt class="col-sm-4">Status:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>
                            </dl>

                <div class="text-center">
                    <a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
                </div>           
            </div>
        </div>
    </div>
</div>
