@model IEnumerable<Myte.Models.Funcionario>

@{
    ViewData["Title"] = "Lista de Funcionários";
}

@if (TempData["message"] != null)
{
    <script src="/lib/jquery//dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["message"]');
    </script>
}

<style>
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    .white-background {
        background-color: white;
    }

    .title-style {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    }
</style>

<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">

<div style="text-align: center; margin-top: 50px;">
    <h1 class="title-style">Lista de Funcionários</h1>

    <br />
    <p>
        <a asp-action="Create" class="btn btn-dark">CADASTRAR</a>
    </p>
</div>
<br />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<table class="table table-hover white-background rounded text-center">
   
    <thead class="table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataContratacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FuncionarioNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataContratacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.DepartamentoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelAcesso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.FuncionarioId"><i class="bi bi-pencil-fill"></i></a>
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.FuncionarioId"><i class="bi bi-card-checklist"></i></a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.FuncionarioId"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
