@model Myte.Models.WBS

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Deseja deletar essa WBS?</h4>
            </div>
            <div class="modal-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
                    <dd>@Html.DisplayFor(model => model.Codigo)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Descricao)</dt>
                    <dd>@Html.DisplayFor(model => model.Descricao)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Tipos)</dt>
                    <dd>@Html.DisplayFor(model => model.Tipos)</dd>
                </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value="Deletar" class="btn btn-danger" />
                        <button type="button" class="btn cancelar" data-dismiss="modal">Cancelar</button>
                    </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
   @*  <div>
        @Html.ActionLink("Retornar para a Lista", "Index")
    </div> *@
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.close').on('click', function () {
                // Esconder o "toast" imediatamente
                $('.toast').toast('hide');
                window.location.href = '@Url.Action("Index", "Wbs")';
            });

            $(".delete").click(function () {
                    var id = $(this).attr("data-id");
                    alert(id);
                    $("#modal").load("Delete?id=" + id, function () {
                        $("#modal").modal();
                    })
             });

            $('.cancelar').on('click', function () {
                $('.modal').modal('hide');
                window.location.href = '@Url.Action("Index", "Wbs")';
            });
        })
    </script>
    }

