@model Myte.Models.WBS

@{
    ViewData["Title"] = "Apagar WBS";
}

@if (TempData["message"] != null)
{
    <script src="/lib/jquery//dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["message"]');
    </script>
}

<style>
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    .text-center-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .white-background {
        background-color: white;
    }
</style>

<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">DELETAR REGISTRO</h2>

                    <div class="card white-background">
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
                                <dd>@Html.DisplayFor(model => model.Codigo)</dd>
                                <dt>@Html.DisplayNameFor(model => model.Descricao)</dt>
                                <dd>@Html.DisplayFor(model => model.Descricao)</dd>
                                <dt>@Html.DisplayNameFor(model => model.Tipos)</dt>
                                <dd>@Html.DisplayFor(model => model.Tipos)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="text-center-btn">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Deletar" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

