@model Myte.Models.Registro

@{
    ViewData["Title"] = "Delete";
}

<style>
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    .text-center-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .white-background {
        background-color: white;
    }
</style>

<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Deletar Registro</h2>

                    <div class="text-center mb-4">
                        <h4 class="card-subtitle">Tem certeza que deseja deletar?</h4>
                    </div>
                    <hr />
                    <div class="card white-background">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Funcionario)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Funcionario)
                                </dd>
                                <hr />

                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.WBS)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.WBS.Codigo)
                                </dd>
                                <hr />

                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.HorasTrab)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.HorasTrab)
                                </dd>
                                <hr />

                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.DataRegistro)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.DataRegistro)
                                </dd>
                                <hr />
                            </dl>
                        </div>
                    </div>

                    <div class="text-center-btn">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="RegistroId" />
                            <input type="submit" value="Deletar" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
